{{ "<!-- Fixed Navigation -->" | safeHTML }}
<!-- <section class="top-bar animated-header"> emprunt depuis timer theme -->
{{ if .Site.Params.menufixed }}
    <section class="header navigation top-bar animated-header">
{{ else }}
    <section class="header navigation">
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img width="100px" src="{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}" alt="logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
